<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-fpcalc-android"
        version="0.0.1">

  <name>AudioFingerprint</name>
    <description>Cordova fpcalc Plugin</description>
    <license>MIT</license>
    <keywords>cordova,audio,fingerprint</keywords>
 
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/fingerprint.js" target="js/fingerprint.js"/>

  <js-module src="www/fingerprint.js" name="fingerprint">
    <clobbers target="fingerprint" />
  </js-module>

  <platform name="android">
    <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
    <resource-file src="aar/fpcalc-android.aar" target="libs/fpcalc-android.aar" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Fingerprint">
        <param name="android-package" value="com.uz.plugin.fpcalc.Fingerprint"/>
      </feature>
    </config-file>

    <source-file src="src/android/Fingerprint.java" target-dir="src/com/uz/plugin/fpcalc"/>
  </platform>


</plugin>